{%- set mod = name|snake -%}
{%- set model = "%s.%s"|format(mod, mod) -%}

<?xml version="1.0" encoding="UTF-8"?>

<templates id="template" xml:space="preserve">

    <t t-name="PosMainMenu">
        <div class="oe_status">
            <div class="js_connected oe_icon">
                <i class='fa fa-bars'></i>
            </div>
        </div>
    </t>

</templates>